import React from 'react';
import ReactDOM from 'react-dom';
import Button from 'terra-button';

ReactDOM.render(
  <Button text="Hello World!" />,
  document.getElementById('app')
);

<h1>Hello World</h1>
<%= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
